.left-league label {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

input {
    border-radius: 10px;
    font-size: 2em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.bottom button {
    font-size: 3em;
    cursor: pointer;
}

.main2 {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6%;
    gap: 24px;
}

.top {
    width: 60%;
    height: 95%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.left-league {
    width: 45%;
    height: 80%;
    background-color: #ffffff;
    padding: 50px;
}

.rigth-league {
    width: 50%;
    height: 95%;
    background-color: #ffffff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 82px;
}
<<<<<<< HEAD
=======
.rigth-league img:hover{
    cursor: pointer;
}
>>>>>>> develop

.process {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 12px;
}

<<<<<<< HEAD
.process button {
     font-size: 2em;
     cursor: pointer;
     border-radius: 10px;
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
=======
    .process button {
        font-size: 2em;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
>>>>>>> develop

.bottom {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
<<<<<<< HEAD
=======

.update-button{
    background-color: cornflowerblue;
}

.delete-button{
    background-color: red;
}
>>>>>>> develop
