.select{
    width: 100%;
    border-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(193, 193, 193);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    padding: 10px;
}